@charset "UTF-8";
/* pc */
.w {
  max-width: 767px;
  margin: 0 auto;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul,
dd,
input,
textarea,
button {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: top;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
/*font-family: "微软雅黑","宋体",Arial;
      line-height:20px;
      font-size: 12px;*/
  font: 12px/2 "微软雅黑", "宋体", Arial;
  color: #333;
}
input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
textarea {
  resize: none;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}
/*input,button,textarea,select{
      outline: none;
  }*/
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
.s1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cl:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cl {
  zoom: 1;
}
